.projects {
  font-family: var(--font-family);
  margin: 4rem 25rem;
  min-height: 100vh;
  width: auto;
  margin-bottom: 10rem;
  padding: 4rem;
}

.projects h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  font-size: 45px;
  color: #272341;
}

/*Styling projects cards*/
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.projects__content {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.projects__img_wrapper img {
  display: flex;
  justify-content: center;
  max-width: 50rem;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.projects__content_info {
  padding: 1rem 2rem;
  width: 30rem;
  height: auto;
  color: #272341;
  margin-right: 2rem;
}

.projects__links {
  margin-top: 2rem;
}

.projects__links a {
  color: #00cdac;
  border: 2px solid #00cdac;
  padding: 5px;
  margin-right: 1rem;

  background: linear-gradient(to left, #fff 50%, #00cdac 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.projects__links a:hover {
  color: #fff;
  transition: all 0.5s ease;
  background-position: left bottom;
}

.projects__content_info h3 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 1rem;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/*responsive styles*/
@media screen and (max-width: 1325px) {
  .projects img {
    width: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  .projects__content_info {
    padding: 0 1rem;
    width: 20rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .projects__content_info h3 {
    font-size: 20px;
  }

  .projects img {
    width: 25rem;
  }
}

@media screen and (max-width: 910px) {
  .projects__content_info {
    padding: 0 1rem;
    width: 19rem;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    margin: 4rem 0;
  }

  .projects__content {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 4rem;
  }

  .projects__content_info {
    padding: 0 1rem;
    width: 30rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .projects img {
    width: 30rem;
  }
}

@media screen and (max-width: 520px) {
  .projects__content_info {
    width: 20rem;
  }

  .projects img {
    width: 19rem;
  }
}
